<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello
    <iframe
      src="https://capgemini-my.sharepoint.com/personal/thilagavathi_b_capgemini_com/_layouts/15/Doc.aspx?sourcedoc={44c77e2b-e833-461c-9bc8-636ab3c29896}&amp;action=embedview&amp;wdAr=1.7777777777777777"
      width="350px"
      height="221px"
      frameborder="0"
      >This is an embedded
      <a target="_blank" href="https://office.com">Microsoft Office</a>
      presentation, powered by
      <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe
    >
  </body>
</html>
